<!--<h1 mat-dialog-title>Hi {{data.name}}</h1>-->
<!--<div mat-dialog-content>-->
<!--  <p>What's your favorite animal?</p>-->
<!--&lt;!&ndash;  <mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;    <input matInput [(ngModel)]="data.animal">&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-form-field>&ndash;&gt;-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
<!--&lt;!&ndash;  <button mat-button (click)="onNoClick()">No Thanks</button>&ndash;&gt;-->

<!--</div>-->
<!--<button mat-icon-button class="close-button" [mat-dialog-close]="true" >-->
<!--  <mat-icon  color="warn">close</mat-icon>-->
<!--</button>-->



<app-preview [post]="post" ></app-preview>




