

<div  class="text-center" style="margin-top:10%">
  <div style="position:relative;width:35%; left:32.5%;margin-bottom:0.5% "  >
    <div >
      <label for="title" class="form-label" >Title</label>
      <input type="text"  class="form-control" [(ngModel)]="title" [ngModelOptions]="{standalone: true}"   id="title">
    </div>
    <div>
      <label for="image" >ImageURL</label>
      <input type="text-ariars" class="form-control" [(ngModel)]="imageURL" [ngModelOptions]="{standalone: true}" id="image">
    </div>



  </div>
  <div>
    <textarea class="variable-textarea" [(ngModel)]="markdown " id="content"></textarea>
  </div>
  <div >

    <button class="btn btn-primary" style="position: relative; margin-right:27%" (click)="previewPost()" >Preview</button>

    <button class="btn btn-primary" style="position: relative; " (click)="createPost()" >Save Change</button>
  </div>


  <!--  <app-preview [post]="post" style="position:relative; top:100px; "></app-preview>-->
</div>

<div style="position:relative; left:10%; width:75%">
  <markdown class="variable-binding" [data]="markdown "  ></markdown>
</div>
<div style="height:60px"></div>
