<h1>Filling process of PestLog</h1>
<div class="timeline">

  <h2 class="timeline__item timeline__item--year">02.10.2021</h2>

  <div class="timeline__item">
    <a href="https://github.com/ZdyrkoVlad/PestLog/tree/b78f597631545a0533aafa92f8266b8f1a9b4286" style="color: black">
   <h3 class="timeline__title">Init</h3>
  </a>
  </div>

  <h2 class="timeline__item timeline__item--year">before 11.2021</h2>

  <div class="timeline__item">
    <h3 class="timeline__title">Fixes and primary outline of the functionall</h3>
  </div>

  <h2 class="timeline__item timeline__item--year">Next</h2>

  <div class="timeline__item">
    <h3 class="timeline__title">Writing documentation-posts to the previous step </h3>
  </div>



</div>
