










<header style="margin-bottom:60px">

  <nav class="nav">
    <div class="nav__title"><a class="navbar-brand pointer" routerLink="postList" > Pestlog</a></div>
    <ul class="nav__list">

      <li class="nav__item ">
        <a  routerLink="postList">Post</a>
      </li>
      <li class="nav__item">
        <a routerLink="newPost">New Post</a>
      </li>

      <li class="nav__item">
        <a routerLink="about">About</a>
      </li>
      <li class="nav__item" >
        <a  routerLink="roadmap">Roadmap</a>
      </li>
    </ul>
  </nav>
</header>
