



<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">






<!--  </header>-->
<div style="margin-bottom:60px">
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">

    <a class="navbar-brand pointer" routerLink="postList" > Pestlog</a>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link pointer" routerLink="postList">Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" routerLink="newPost">New Post</a>
        </li>

        <li class="nav-item">
          <a class="nav-link pointer" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" routerLink="roadmap">Roadmap</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link pointer" routerLink="contact">Contact</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link pointer" routerLink="singup">Sing up</a>-->
<!--        </li>-->

      </ul>
    </div>
  </div>
</nav>
</div>
