<!--
<div *ngIf="!chatBoolean">
  <div id="stick" (click)="chatShow()"><img src="../../../assets/static/chat.png" width="40" height="38"></div>
</div>


<div *ngIf="chatBoolean" id="stick-chat">

  <h1 class="h3 mb-3 text-muted" (click)="chatShow()"
      style=" display: inline-block; cursor: pointer; margin-right: 30%">Chat => hide</h1>
  <button class="btn btn-primary" style=" display: inline-block;">Create new</button>


  <div class="row g-0" style="  box-shadow: 0 0 0.5px rgb(127,61,157);">

    <div>


      <div>
        <div class="chat-messages p-4" *ngFor="let message of MessageList$ | async" style="max-height:500px">

          <div class="chat-message-right pb-4">
            <div>
              &lt;!&ndash;                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">&ndash;&gt;
              <div class="text-muted small text-nowrap mt-2">{{message.createDate}}</div>
            </div>
            <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
              <div class="font-weight-bold mb-1">{{message.authorId}}</div>
              {{message.text}}
            </div>
          </div>

          &lt;!&ndash;          <div class="chat-message-left pb-4">&ndash;&gt;
          &lt;!&ndash;            <div>&ndash;&gt;
          &lt;!&ndash;              &lt;!&ndash;                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">&ndash;&gt;&ndash;&gt;
          &lt;!&ndash;              <div class="text-muted small text-nowrap mt-2">2:34 am</div>&ndash;&gt;
          &lt;!&ndash;            </div>&ndash;&gt;
          &lt;!&ndash;            <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">&ndash;&gt;
          &lt;!&ndash;              <div class="font-weight-bold mb-1">You</div>&ndash;&gt;
          &lt;!&ndash;              Ну ты давай юзай, но не забывай. Что на даный момент фиксишь ws на беке, посколькую юзаешь Grahql. Думаешь что быстро сделаешь ))&ndash;&gt;
          &lt;!&ndash;            </div>&ndash;&gt;
          &lt;!&ndash;          </div>&ndash;&gt;


        </div>
      </div>

      <div class="flex-grow-0 py-3 px-4 border-top">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Type your message" [(ngModel)]="messageText" >
          <button class="btn btn-primary" (click)="sendMessage()">Send</button>
        </div>
      </div>

    </div>
  </div>
</div>

-->
<!--2-->
<!--<div *ngFor="let chat1 of ChatList$| async ">-->

<!--  {{chat1.chatName}}-->
<!--</div>-->

<div class="container py-5 px-4" style="width:100%; height: 100%">


  <div class="row rounded-lg overflow-hidden shadow">
    <!-- Users box-->
    <div class="col-5 px-0">
      <div class="bg-white">

        <div class="bg-gray px-4 py-2 bg-light">
          <p class="h5 mb-0 py-1" style="display: inline-block; color: #222222; margin-right:68%">Recent</p>

          <!--          <input type="text-ariars" class="form-control" style="display: inline-block;width:50%; margin-right: 5px">-->
          <button class="new-chat-button btn btn-primary" style="display: inline-block;" (click)="newChat()">New Chat
          </button>
        </div>

        <div class="messages-box ">
          <div class="list-group rounded-0">
            <div *ngFor="let chat of ChatList ">

              <div class="list-group-item chat-choice list-group-item-action list-group-item-light rounded-0"
                   (click)="chatChoice(chat.id)">
                <div class="media"><img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg" alt="user"
                                        width="50" class="rounded-circle">
                  <div class="media-body ml-4">
                    <div class="d-flex align-items-center justify-content-between mb-1">
                      <h6 class="mb-0" style="font-size: 16pt;">{{chat.chatName}}</h6><small
                      class="small font-weight-bold">{{chat.createDate}}</small>
                    </div>
                    <!--                  <p class="font-italic mb-0 text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>-->
                  </div>
                </div>
              </div>

            </div>

            <!--            <div  class="list-group-item list-group-item-action list-group-item-light rounded-0">-->
            <!--              <div class="media"  ><img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg"  alt="user" width="50" class="rounded-circle">-->
            <!--                <div class="media-body ml-4">-->
            <!--                  <div class="d-flex align-items-center justify-content-between mb-1">-->
            <!--                    <h6 class="mb-0">Jason Doe</h6><small class="small font-weight-bold">14 Dec</small>-->
            <!--                  </div>-->
            <!--                  <p class="font-italic text-muted mb-0 text-small">Lorem ipsum dolor sit amet, consectetur. incididunt ut labore.</p>-->
            <!--                </div>-->
            <!--              </div>-->
            <!--            </div>-->


          </div>
        </div>
      </div>
    </div>
    <!-- Chat Box-->

    <div class="col-7 px-0" style="max-height:600px">
      <div style="  background-color: rgba(221,221,221,0.2); height: 5%">

        <p *ngIf="chatId!=null" style="text-align: center;font-size:17px; color: #222222 ">{{getChatByID().chatName}}</p>

      </div>
      <div class="px-4 py-5 chat-box bg-white" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <!--        <div class="px-4 py-5 chat-box bg-white" *ngFor="let message of MessageList$ | async">-->


        <div *ngFor="let message of MessageList$ | async">


          <div class="media w-50 mb-3"><img src="https://bootstrapious.com/i/snippets/sn-chat/avatar.svg" alt="user"
                                            width="50" class="rounded-circle">
            <div class="media-body ml-3">
              <div class="bg-light rounded py-2 px-3 mb-2">
                <p class="text-small mb-0 text-muted">{{message.text}}</p>
              </div>
              <p class="small text-muted">{{message.createDate}}</p>
            </div>
          </div>

          <!--        <div class="media w-50 ml-auto mb-3">-->
          <!--          <div class="media-body">-->
          <!--            <div class="bg-primary rounded py-2 px-3 mb-2">-->
          <!--              <p class="text-small mb-0 text-white">{{message.text}}</p>-->
          <!--            </div>-->
          <!--            <p class="small text-muted">{{message.createDate}}</p>-->
          <!--          </div>-->
          <!--        </div>-->

        </div>

      </div>
      <!-- Typing area -->
      <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">


        <input type="text" placeholder="Type a message" aria-describedby="button-addon2"
               class="form-control text-input" formControlName="message"
               style="position:relative; top:-15px; width: 99%"
        >


        <!--          <input type="text" class="form-control" placeholder="Type your message" [(ngModel)]="messageText" >-->
        <!--          <div class="input-group-append">-->
        <!--            <button id="button-addon2" type="submit" class="btn btn-link" (click)="sendMessage()"> <i class="fa fa-paper-plane"></i></button>-->
        <!--          </div>-->


      </form>


    </div>
  </div>
</div>



