<!--  <app-navbar></app-navbar>-->
  <!-- Main jumbotron for a primary marketing message or call to actions -->

<header  class="masthead"  [ngStyle]="{'background-image': 'url(' +(PostState$ | async).imageURL + ')'}" id="header"  >

  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1 ng-bind="header.title">{{(PostState$ | async).title}}</h1>
          <span class="subheading" ng-bind="header.subtitle">  </span>
          <span class="meta" ng-if="header.byline.length > 0" ng-bind="header.byline">
            {{(PostState$ | async).createDate}}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

  <div >
    <div class="container " >


      <p></p>
<!--      <div>{{(PostState$ | async).content}}</div>-->
      <div style="position:relative; left:0%; width:100%;">
        <markdown class="variable-binding" [data]="(PostState$ | async).content "  ></markdown>
      </div>

      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p> -->

    <div style="height:60px"></div>
    </div>

  </div>
